<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>View Task</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="nav">
        <h1 class="nav-title">Dojo Theatres</h1>
    </div>
    <figure class="text-center">
                <h1>TASK:{{this_task.job}}</h1>
            <div class="text-center">
                <a href="/dashboard"><button type="button" class="btn btn-primary">Dashboard</button>
                <a href="/logout"><button type="button" class="btn btn-primary">Logout</button>
                </a>
            </div>

        <figure class="text-center">
        <ul class="list-unstyled">
            <li>Added By:{{this_task.creator.first_name}} {{this_task.creator.last_name}}</li>
            <li>Description:{{this_task.description}}</li>
            <li>Created at:{{this_task.created_at}}</li>
        </div>
    </figure>
    </div>
</body>
</html>